<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083495528431-fj4780jgp03pcshk0q6u17h9vdlduvp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083495528431-fj4780jgp03pcshk0q6u17h9vdlduvp7</string>
	<key>API_KEY</key>
	<string>AIzaSyArFHckqzcpGN-PhAodCr3Wd-5WigSOJUo</string>
	<key>GCM_SENDER_ID</key>
	<string>1083495528431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dlwjsgml02.study01</string>
	<key>PROJECT_ID</key>
	<string>chattest-b3068</string>
	<key>STORAGE_BUCKET</key>
	<string>chattest-b3068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083495528431:ios:968a8a6319feba1266a81a</string>
</dict>
</plist>